@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
    box-sizing: border-box;
}

body{
    background: url(background.jpeg);
    background-size: cover;
    font-family: arial;
    color: #333;
    font-size: 13px;
    margin: 0; 
}

input, select, button{
    font-family: arial;
    color: #333;
    font-size: 14px;
}

h3, h4{
    margin: 0;
}

img{
    max-width: 100%;
}

:focus{
    outline: none;
}

.wrapper{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex;
    justify-content: center;
}

.inner {
    padding: 20px;
    background: #fff;
    max-width: 850px;
    margin: auto;
    display: flex;
}

.inner .image-holder {
    width: 50%;
}

.inner form{
    width: 50%;
    padding-top: 36px;
    padding-left: 45px;
    padding-right: 45px;
}

.inner h3{
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin-bottom: 28px;
}

.form-group{
    display: flex;
}

.form-group input{
    width: 50%;
}

.form-group input:first-child{
    margin-right: 25px;
}

.form-wrapper{
    position: relative;
}

.form-control{
    border: 1px solid #333;
    border: none;
    border-bottom: 1px solid #333;
    display: block;
    width: 100%;
    height: 30px;
    padding-right: 0;
    margin-bottom: 25px;
}

select {
    cursor: pointer;
    color: gray;
}

select option[value=""][displayed]{
    display: none;
}

button{
      border: none;
      width: 164px;
      height: 51px;
      margin: auto;
      margin-top: 40px;
      cursor: pointer;
      display: felx;
      align-items: center;
      justify-content: center;
      padding-left: 0;
      background: #333;
      font-size: 15px;
      color: #fff;
}
button:hover{
    background: purple;
}

/* Navigation links styling */
.form-footer {
    text-align: center;
    margin-top: 15px;
}

.signin-link, .home-link {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 20px;
    transition: all 0.3s ease;
    display: inline-block;
}

.signin-link:hover {
    background-color: purple;
    color: white;
}

.home-link:hover {
    background-color: #333;
    color: white;
}

@media (max-width: 767px){
    .inner{
        display: block;
    }
    .inner .image-border{
        width: 100%;
    }
    .inner form{
        width: 100%;
        padding: 40px 0 30px;
    }
    button{
        margin-top: 60px;
    }
}
